<ion-view view-title="Subscribtion">
  <ion-content>
      <!--<li class="item item-toggle" ng-repeat=" s in histories">-->
          <!--{{ s.parsedTerm }}-->
          <!--<label class="toggle toggle-balanced">-->
              <!--<input type="checkbox" ng-model="s.active" ng-change="doSubscribe(s)">-->
              <!--<div class="track">-->
                  <!--<div class="handle"></div>-->
              <!--</div>-->
          <!--</label>-->
      <!--</li>-->
      Coming Soon
  </ion-content>
</ion-view>
